<!doctype html>
<html lang="en">
<head>
        <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мультфильмы</title>
</head>
<a href="/main">Назад</a>
<body>
<h2>Список мультфильмов</h2>
<center>
<table>
    <tr>
        <th>название</th>
        <th>описание</th>
        <th>минуты</th>
        <th>действия</th>
        <th>редактировать</th>

    </tr>
    <#list cartoons as cartoon>
        <tr>
            <td>${cartoon.title}</td>
            <td>${cartoon.description}</td>
            <td>${cartoon.duration}</td>
            <td><a href="/cartoons/${cartoon.id}">смотреть</a>
                <a href="/cartoons/${cartoon.id}/delete">удалить</a> </td>
                <form action="/cartoons/${cartoon.id}/update" method="post">
            <td>
                    <label>

                        <input type="text" name="title" value="${cartoon.title}">
                    </label>
                    <label>

                        <input type="text" name="description" value="${cartoon.description}">
                    </label>
                    <label>

                        <input type="text" name="duration" value="${cartoon.duration}">
                    </label>

                    <input type="submit" value="Сохранить">
                </form>
            </td>
        </tr>
    </#list>
</table>
</center>
<br>
<h2>Добавить мультфильм</h2>

<form action="/cartoons" method="post">
    <label>

        <input type="text" name="title" placeholder="название мультфильма">
    </label>
    <label>

        <input type="text" name="description" placeholder="описание мультфильма">
    </label>
    <label>

        <input type="text" name="duration" placeholder="продолжительность, мин">
    </label>

    <input autofocus type="submit" value="Добавить"/>
</form>
</body>
</html>

<style>
    body {
        background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        height: 100vh;
        text-align: center;
        vertical-align: middle;
        text-align: center;
        font: small-caps bold 1.2rem sans-serif;
        color: white;
    }

    table {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        font-size: 14px;
        border-radius: 10px;
        border-spacing: 0;
        text-align: center;
    }
    th {
        background: #9966CC;
        color: white;
        text-shadow: 0 1px 1px #2D2020;
        padding: 10px 20px;
    }
    th, td {
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
    }
    th:first-child, td:first-child {
        text-align: left;
    }
    th:first-child {
        border-top-left-radius: 10px;
    }
    th:last-child {
        border-top-right-radius: 10px;
        border-right: none;
    }
    td {
        padding: 10px 20px;
        background: #CCCCFF;
        color: black;
    }
    tr:last-child td:first-child {
        border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
        border-radius: 0 0 10px 0;
    }
    tr td:last-child {
        border-right: none;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

</style>
