<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Пользователи</title>
</head>
<body>
<a href="/users">К списку уроков</a>
<h2>${user.email}</h2>
<h2>${user.firstName}</h2>
<h2>${user.lastName}</h2>
<br>
<h3>Редактировать урок</h3>

<form action="/users/${user.id}/update" method="post">
    <label>
        Email
        <input type="email" name="email" value="${user.email}">
    </label>
    <label>
        Имя
        <input type="text" name="firstName" value=${user.firstName}>
    </label>
    <label>
        Фамилия
        <input type="text" name="lastName" value=${user.lastName}>
    </label>

    <input type="submit" value="Сохранить">
</form>
</body>
</html>
